@font-face {
    font-family: "Inter Bold";
    src: url("../fonts/Inter-4.0/web/InterVariable.woff2");
    font-weight: 700;
}

@font-face {
    font-family: "Inter Regular";
    src: url("../fonts/Inter-4.0/web/InterVariable.woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto Mono Regular";
    src: url("../fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf");
    font-weight: 400;
}

* {
    font-family: "Inter Regular", sans-serif;
    font-size: 16px;
}

[data-theme="light"] {
    --color-bg1: #e6e6e6;
    --color-bg2: #ffffff;
    --color-fg: #000000;
}

[data-theme="dark"] {
    --color-bg1: #1f1f1f;
    --color-bg2: #000000;
    --color-fg: #ffffff;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    color: var(--color-fg);
    background-color: var(--color-bg2);
}

#button {
    all: unset;
    width: 4.5em;
    height: 4.5em;
    display: flex;
    position: fixed;
    bottom: 0.5em;
    right: 0.5em;
    z-index: 1;
    background-color: var(--color-fg);
    border-radius: 100%;
    cursor: pointer;
}

#buttonImg {
    width: 3em;
    height: 3em;
    position: fixed;
    bottom: 1.25em;
    right: 1.25em;
}

h1,
h2,
h3 {
    font-family: "Inter Bold", sans-serif;
}

h1,
h2 {
    color: #7d00a7;
}

h1 {
    font-size: 4em;
    text-decoration: underline 3px var(--color-fg);
}

h2 {
    margin: 0;
    font-size: 2.5em;
}

h3 {
    margin: 0 0 0.4em;
    font-size: 2em;
}

p,
li,
label {
    font-size: 1em;
}

ol {
    padding: 0 1em;
}

li {
    margin: 0.5em 0;
}

label {
    min-width: fit-content;
}

strong {
    padding: 0 0.1em;
    font-size: inherit;
    font-family: "Roboto Mono Regular", monospace;
    color: var(--color-fg);
    background-color: var(--color-bg1);
}

a:link,
a:visited {
    color: var(--color-fg);
}

.top {
    padding: 1.75em 7.5% 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-bg2);

    h1 {
        margin: 0;
    }
}

#topCode {
    font-size: 2.5em;
    margin: 0.25em 0;
}

.about {
    display: flex;
    flex-direction: column;
    padding: 2em 7.5% 1em;
    background-color: var(--color-bg1);
}

.projects {
    padding: 1.5em 0;
    background-color: var(--color-bg2);
}

.project {
    display: flex;
    flex-direction: column;
    padding: 2em 7.5%;
    gap: 3em;
    background-color: var(--color-bg1);
}

.projectText {
    flex: 1;
}

.projectImg {
    aspect-ratio: 4 / 3;
    flex: 1 1 auto;
    display: flex;
    margin: 0;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--color-bg2);
}

#repisasLeftHalf,
#repisasRightHalf {
    flex: 1;
    background-size: cover;
    background-repeat: no-repeat;
}

#repisasLeftHalf {
    background-image: url('./img/repisas-101-1.png');
    border-radius: 10px 0px 0px 10px;
}

#repisasRightHalf {
    background-image: url('./img/repisas-101-2.png');
    background-position: right;
    border-radius: 0px 10px 10px 0px;

}


footer {
    margin-top: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    background-color: var(--color-bg1);

    a {
        margin: 0;
        padding: 0;
    }
}

a>img {
    width: 2em;
    height: 2em;
}

@media (min-width: 900px) {
    .project {
        flex-direction: row;
        align-items: center;
    }

    .projectImg {
        flex: 2 1 content;
    }
}